@import url("satoshi.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	background-color: theme("colors.background");
	/* color: theme("textColor.textLightMode"); */
}

::-moz-selection {
	/* Code for Firefox */
	background: rgba(41, 233, 255, 0.3);
}

::selection {
	background: rgba(41, 233, 255, 0.3);
}
